a,
a:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(250, 128, 114);
  text-decoration: none;
}
.navbox {
  text-decoration: none;
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-bottom: .25rem solid transparent;
}
.navbar-nav {
    text-align: left;
}
.currentPage {
  text-decoration: none;
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-bottom: .25rem solid rgb(255, 255, 255));
}
.nav-link:hover,
.nav-link:focus,
.currentPage:hover,
.currentPage:focus {
  border-bottom-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.navbox .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-link:active,
.currentPage:active,
a:active {
  color: rgb(255, 255, 255);
}
.btn-secondary,
.btn {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(250, 128, 114, 0.719);
  border-radius: 50%;
  align-content: center;
  padding: 1px;
  width: 200px;
}
.btn-secondary:hover,
.btn:hover {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: rgb(250, 128, 114, 0.719);
  text-shadow: none; /* Prevent inheritance from `body` */
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  align-content: center;
  padding: 1px;
  width: 200px;
}
.btn-secondary:active,
.btn:active,
.btn-secondary:focus,
.btn:focus {
  color: rgb(255, 255, 255);      
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
}
/*NAVBAR STUFF LIKE FROM MY HANDYMAN EXAMPLE*/

.navbar,
.navbar-expand-md {
    background-color: rgb(250, 128, 114, 0.719);
}
.navbar-toggler {
    color: rgb(255, 255, 255);
    background-color: rgb(250, 128, 114, 0.719);
    border: 1px solid rgb(255, 255, 255);
}
.navbar-toggler:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.719);
    border: 1px solid rgb(0, 0, 0);
}

/* Everything above has to do with links -----------------------------
--------- BELOW starts with body, followed by everything else ------------ */

html,
body {
  
  width: 100%;
  background-image: url(../assets/images/back18.jpg);
  background-attachment: fixed;
  background-position: center;
}
body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(255, 255, 255);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0);
}
.cover-container {
  max-width: 50em;
}                    /*GETTING RID OF THIS MADE EVERYTHING ALIGN LEFT */
.inner,
.cover {
  max-width: 50em; 
}

 /* ------------------- HEADER -------------------------*/

.masthead {
  margin-bottom: 2rem;
  justify-content: center;
}
.masthead-brand {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: double 4px rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#name {
  flex: 2;
  order: 1;
  font-weight: bolder;
}
#sub {
  flex: 1;
  order: 2;
  color: rgb(250, 128, 114);
  font-size: xx-small;
  margin-top: 20px;
}

/* ------- Media Queries ----------*/

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .navbox {
    float: right;
  }
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* ---------------------- FOOTER --------------------------------- */

.footerbox {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.568);
  border-top: dotted 1.3px rgb(255, 255, 255);
  border-bottom: dotted 1.3px rgb(250, 128, 114);
  border-right: dotted 1.3px rgb(250, 128, 114);
  border-left: dotted 1.3px rgb(255, 255, 255);
  border-radius: 20%;
  text-align: center;
  font-size: xx-small;
}
#tag {
  text-align: left;
  flex: 4;
  order: 1;
  margin-top: 14px;
  margin-left: 5em;
}
#linkedinlink {
  flex: 1;
  order: 2;
  margin-top: 14px;
}
#githublink {
  flex: 1;
  order: 3;
  margin-top: 14px;
}

/* -------- end of footer --------------------------------*/

/* BODY CONTENT STUFF LIKE FONTS ---------------------------------------------- */

.mainbox {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.summ {
  flex: 3;
  order: 1;
  -ms-text-align-last: justify;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 300px;
}
.inSumm {
    background-color: rgb(250, 128, 114, 0.719);
    padding: 2.7em;
    border-radius: 30%;
}
.des,
.contactbox {
    background-color: rgb(250, 128, 114, 0.719);
    padding: 2.5em;
    border-radius: 50%;
}
.thumbnail {
    border-radius: 50%;
}
.picwinfo {
  flex: 2;
  order: 2;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.me {
  flex: 1;
  order: 1;
}
.lead {
  flex: 2;
  order: 2;
  margin-top: 10px;
}
img {
  align-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  width: 220px;
}

/* CONTACT BOXES FOR CONTACT PAGE ----------------------------*/

.contactbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
#subject {
  width: 300px;
  height: 300px;
}
.submit {
  text-decoration: none;
  text-shadow: none;
  padding: 10px 20px 11px !important;
  font-size: 21px !important;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 1px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 3px 0 rgb(255, 255, 255) inset;
  -moz-box-shadow: 0 3px 0 rgb(255, 255, 255) inset;
  -webkit-box-shadow: 0 3px 0 rgb(255, 255, 255) inset;
}

/* MAINBOX FOR PORTFOLIO HTML ----- USING BOOTSTRAP ROWS AND COLUMNS HERE ----- */


.des,
.thumbnail {
  margin-top: 2em;
}





